{% extends "base.html" %} {% load markdownify %} {% block title %}
<title>{{ single_recipe.name }}</title>
{% endblock title %} {% block main %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'recipe_edit' single_recipe.pk%}">Edit</a>
    <a href="{% url 'recipe_delete' single_recipe.pk %}">Delete</a>
  </div>
  {% if single_recipe.image %}<img
    src="{{ recipe.image }}"
    class="pull-right"
  />{% endif %}
  <h1>{{ single_recipe.name }}</h1>
  <p>
    Created on {{ single_recipe.created }} {% if single_recipe.updated%}|
    Updated on {{ single_recipe.updated }} {%endif%}
  </p>
  <p>Tags: {% for tag in single_recipe.tags.all %}{{ tag.name }}{% endfor %}</p>
  <p>{{ 'recipe.description'| markdownify }}</p>
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in single_recipe.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in single_recipe.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock main %}
