{% extends "base.html" %}
{% block title %}
  <title>Scrumptious Recipes</title>
{% endblock title %}
{% block main %}
  <main class="recipe-grid">
    {% for recipe in list_recipes %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'single_recipe' recipe.pk %}">{{ recipe.name }}</a>
        </h2>
        <p>{{ recipe.image }}</p>
        <p class="recipe-card-date">{{ recipe.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock main %}
